:root{
    --papaya-whip: #FEEFDA;
}

*   {
    margin: 0;
    padding: 0;
}

header  {
    font-size: 20px;
    margin: 16px;
    padding: 20px 20px 0 20px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
}

body    {
    background-color: var(--papaya-whip);
}



footer  {
    width: 100vw;
    position: relative;
    bottom: 0;
    left: 0;
    display: flex; 
    align-items: center;
    justify-content: center;
    padding: 3px;
    margin: 3px;
}

#about  {
    max-width: 113px;
}

#back-to-top{
    margin-right: 30px;
}

.container  {
    width: 80%;
    min-height: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 8%;
}

.gallery    {
    display: grid;
    grid-gap: 30px;
    align-items: center;
    justify-content: center;
}

.gallery img{
    width: 100%;
}

#logo   {
    font-size: 60px;
}


@media (min-width:500px) { 
    /* Smartphone view: 1 tile */
    .gallery {
        display: grid;
        grid-template-columns: repeat(2, minmax(250px, 1fr));
        grid-gap: 30px;
        align-items: center;
        justify-content: center;
    }
}


