:root{
    --papaya-whip: #FEEFDA;
}

*   {
    margin: 0;
    padding: 0;
}

header  {
    font-size: 20px;
    margin: 16px;
    padding: 20px 20px 0 20px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
}

html  {
    height: 100vw;
}

body    {
    min-height: 100vw;
    background-color: var(--papaya-whip);
}



footer  {
    width: 100vw;
    position: relative;
    bottom: 0;
    left: 0;
    display: flex; 
    align-items: center;
    justify-content: center;
    padding: 3px;
    margin: 3px;
}

p   {
    margin-top: 10px;
}

#about  {
    max-width: 113px;
}

#back-to-top{
    margin-right: 30px;
}
#logo   {
    font-size: 60px;
}
#contact-footer {
    width: 100vw;
    position: relative;
    bottom: 0;
    left: 0;
    padding: 3px;
    margin: 3px;
}

#first-name, #last-name  {
    border: 1px solid black;
    width: 90%;
    padding: 8px;
    margin-top: 8px;
}


#email, #subject    {
    width: 90%;
    padding: 8px;
    border: 1px solid black;
}

#message  {
    width: 90%;
    height: 100px;
    padding: 8px;
    line-height: normal;
    border: 1px solid black;
}

#contact-form   {
    width: 80vw;
    margin: 8px;
}

#name-inputs    {
    display: inline;
    justify-content: space-between;  
    align-items: flex-end;  
    width: 90%;
}

#about-me-image {
    width: 80vw;
}

.wrapper    {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: auto;
    flex-wrap: wrap;
}

.about-me   {
    width: 60%;
    display: inline-block;
    flex-wrap: wrap;
}

.container  {
    width: 80%;
    min-height: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 8%;
}

.gallery    {
    display: grid;
    grid-gap: 30px;
    align-items: center;
    justify-content: center;
}

.gallery img{
    width: 100%;
}

.name-label {
    font-size: 12px;
    margin: 0;
}

.submit-button  {
    display: flex;
    align-items: flex-start;
}

@media (min-width:500px) { 

    .gallery {
        display: grid;
        grid-template-columns: repeat(2, minmax(250px, 1fr));
        grid-gap: 30px;
        align-items: center;
        justify-content: center;
    }

    #contact-form   {
        width: 30vw;
        margin: 8px;
    }

    #about-me-image {
        width: 60vw;
    }
}


